{% extends "base.html.twig" %}

{% block title %}Three.JS{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset("bundles/app/css/style.css") }}" />
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <tbody>
                    {% for i in range(0,8) %}
                        <tr>
                            {% for y in range(0,8) %}
                                <td><div class="element" data-ligne="{{ i }}" data-position="{{ y }}">&nbsp;</div></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-12">
                    <div class="hidden messageError"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 style="display : inline-block;">Informations</h4>
                        <span class="hidden" id="loading"><img src="{{ asset('bundles/app/images/taiji.gif') }}" /></span>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <label>Joueur actuel : <strong class="actualPlayer"></strong></label>
                            <div class="panel panel-primary text-center">
                                <div class="panel-heading">
                                    <p><strong class="player1Label"></strong></p>
                                </div>
                                <div class="panel-body">
                                    <p>Point de vie : <i class="currentPdvPlayer1"></i><i>/40</i></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-primary text-center">
                                <div class="panel-heading">
                                    <p><strong class="player2Label"></strong></p>
                                </div>
                                <div class="panel-body">
                                    <p>Point de vie : <i class="currentPdvPlayer2"></i><i>/40</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer row">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-primary" href="{{ path('three') }}">Redémarrer une partie</a>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalIdPartie">
                                Sauvegarder la partie
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-info panelReplay">
                    <div class="panel-heading">
                        <h4>Liste des dernieres parties disponibles en replay</h4>
                    </div>
                    <div class="panel-body">
                        <ol>
                            {% for partie in lastParties %}
                                <li>
                                    <input type="radio" name="selectedReplay" value="{{ partie.id }}" id="{{ partie.id }}">
                                    <label for="{{ partie.id }}">{{ partie.id }}</label>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modalJoueur">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Inscription des joueurs</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal formPlayer" id="formPlayer">
                        <div class="input-group">
                            <span class="input-group-addon" id="addon1"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" required name="player1" class="form-control player1" placeholder="Nom du joueur 1" aria-describedby="addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="addon2"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" required name="player2" class="form-control player2" placeholder="Nom du joueur 2" aria-describedby="addon2">
                        </div>
                    </form>
                    <hr>
                    <form id="formReload">
                        <div class="form-group">
                            <label for="reloadPartie">Recharger une partie</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="reloadPartie" name="reloadPartie" placeholder="Identifiant de la partie" />
                                <span class="input-group-btn">
                                    <input type="submit" name="submitReloadPartie" form="formReload" class="btn btn-primary" value="Recharger la partie" />
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="submitButton" form="formPlayer" class="btn btn-primary" value="Lancer la partie">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modalIdPartie">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Sauvegarde d'une partie</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Enregistre l'identifiant suivant, puis servez-vous de celui-ci pour recharger votre partie quand vous voulez.
                        La partie est enregistré à chaque coup.
                    </p>
                    <label for="idPartie">Identifiant : </label>
                    <input type="text" id="idPartie" name="idPartie" class="idPartie form-control" readonly value="{{ idPartie }}" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer la modale</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/blockUI.js') }}"></script>
    <script src="{{ asset('bundles/app/js/battle4tetris.js') }}"></script>
{% endblock %}